<p>
    <mat-toolbar>
        <span class="logo" routerLink="/"><img src="assets/logo.png" alt=""></span>
        <span class="example-spacer"></span>
        <div class="search">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Search</mat-label>
                    <mat-icon matSuffix>search</mat-icon>
                    <input matInput placeholder="Search by video title" value="">
                </mat-form-field>
            </form>
        </div>
    </mat-toolbar>
</p>