.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.list {
  height: 100%;
  width: 95%;
  margin: auto;
}
.details {
  .image {
    width: 100%;
    height: 600px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .title {
    @extend .flex;
    @extend .list;
    .favorite {
      background-color: red;
    }
  }
  .video-data {
    @extend .flex;
    @extend .list;
    .rating,
    .duration {
      @extend .flex;
      .des-title {
        margin: 0 5px;
        font-weight: 500;
      }
      ::ng-deep .star {
        font-size: 25px;
      }
    }
    .statistics {
      @extend .flex;
      .view,
      .like {
        @extend .flex;
        span {
          margin-right: 5px;
        }
      }
    }
  }
  .desc {
    @extend .list;
    height: auto;
    .date {
      color: #ff0000;
      margin-top: 15px;
      font-weight: 500;
    }
    .description {
      margin-bottom: 35px;
    }
  }
}
